.profile__job {
  width: 80%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 25px;
}

@media screen and (max-width: 1023px) {
  .profile__job {
    max-width: 75%;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 620px) {
  .profile__job {
    max-width: 100%;
    padding-bottom: 36px;
    text-align: center;
  }
}
