header {
  padding-top: 45px;
  padding-left: calc((100vw - 320px) / (1280 - 320) * (0 - 27) + 27px);
  max-width: 880px;
  width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 880px);
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 40px;
}

@media screen and (max-width: 1100px) {
  .header {
    width: calc(100% - 2 * 109px);
    padding-top: 41px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 2 * 70px);
    padding-top: 34px;
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: calc(100% - 27px);
    padding-top: 28px;
    margin: 0 auto;
    margin-bottom: 42px;
  }
}
