.profile__avatar {
  margin-right: 30px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  background-position: center;
}
@media screen and (max-width: 580px) {
  .profile__avatar {
    margin-right: 15px; 
  
  }
}

@media screen and (max-width: 480px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 4px;
    align-self: center;
    width: 120px;
    height: 120px;
  }
}
