.footer {
  width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 880px);
  margin: 67px auto calc((100vw - 320px) / (1280 - 320) * (60 - 36) + 36px);
  padding-left: calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px);
  max-width: 880px;
}
@media screen and (max-width: 1100px) {
  .footer {
    width: calc(100% - 2 * 109px);
  }
}
@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 2 * 70px);
  }
}
@media screen and (max-width: 480px) {
  .footer {
    margin: 0;
    max-width: 100%;
    margin-top: 48px;
    margin-bottom: 36px;
    box-sizing: border-box;
  }
}
